
.search-button {
  
    background-color: #8fd163 !important; 
    color: white !important; 
  }
  
  .clear-button {
   
    background-color: #db4437 !important; 
    color: white !important; 
  
  }
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    color: black !important;
  }