.header-gap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #a9a9a9;
  color: white;
  padding-top: 1%;
  padding-bottom: 2%;

}
.header{
  display: flex;
  align-items: center;
}
